<!DOCTYPE html>
<HTML>
<HEAD>
    <TITLE>Шифрование текста</TITLE>
</HEAD>
<BODY onload = "showConfirm()">
<FORM>
    <script>
        function showConfirm()
            {
                if (confirm("Подтвердите удаление файла messages.csv"))
                    {
                        fetch('/reset/', {method: 'POST'})
                    }
                else
                    {
                        window.location.href = "/"
                    }
            }
    </script>
</FORM>
<P style = "font-size: larger">messages.csv стёрт</P>
<a href = "/">Вернуться на главную страницу</a><br>
</BODY>
</HTML>